* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid red;
    padding: 10px;
}

.container .first, .second {
/* border: 1px solid green; */

}

.container .first div {
margin-top: 10px;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
box-shadow:
0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12)
}

.container .second div {
    border: 1px solid brown;
    height: 150px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    }

    @media screen and (min-width: 700px) { 
        .container .first {
            display: flex;
            flex-wrap: wrap;
            /* border: 1px solid green; */
            width: 80%;
            margin: 0 auto;
            /* justify-content: space-around; */
            align-items: center;
        }
        .container .first div {
            width: 25%;
        }
    }

    @media screen and (min-width: 1000px) { 
        .container .first {
           padding: 30px;
           border: 1px solid green;
           width: 100%;
        }
        .container .first div {
            width: 40%;
            margin: 0px 20px;
        }
    }